<div id="popup_list_3">
    <div class="bg_white"><!-- bg상단 시작-->
        <div class="title">추천 목록</div>
        <div class="subtext">
            <p class="sub01"><%= model.getEventTitle()%></p>
            <p class="sub02"><!--아래 VOD 중 하나를 구매하시면 이벤트 응모가 진행됩니다--></p>
        </div>
        <div class="table"><!-- 리스트 시작-->
            <div class="tb_title">
                <li class="name">콘텐츠 명</li><li class="price">가격</li>
            </div>
            <div class="list_margin"><!--타이들 제외한 리스트 시작-->

            </div><!--타이들 제외한 리스트 끝-->
        </div><!-- 리스트 끝-->
    </div><!-- bg상단 끝-->


    <div class="bg_black"><!-- bg하단(버튼) 시작-->

    <%

        var buttonSize = model.getButtonGroup().getSize()
        if(buttonSize > 0) {
            for(var i = 0; i < buttonSize; i++) {
            %>
                <span class="btn unfocus"> <%= model.getButtonGroup().getButton(i).getLabel() %></span>
            <%
            }
        }
        %>

    </div><!-- bg하단(버튼) 끝-->
</div>