<div id="popup_list_1">
    <div class="bg_white"><!-- bg상단 시작-->

    </div>
    <!-- bg상단 끝-->
    <div class="bg_black"><!-- bg하단(버튼) 시작-->
        <span class="btn focus"><%= model.getButtonGroup().getButton(0).getLabel()%></span>
    </div>
    <!-- bg하단(버튼) 끝-->
</div>
