<div id="main_bg"> <!--  전체 프레임 시작 -->
    <div class="bg_left"><!-- bg_left-->
        <div class="bg_menu_list"><!--메뉴 리스트 시작-->
            <ul class="menu_list">

            </ul>
        </div><!--메뉴 리스트 끝 -->

    </div><!-- bg_left -->
    <div class="bg_right" > <!-- bg_right (오른쪽 메인영역 전체)-->
        <div id="area_info"><!-- //area_info-->

        </div><!-- //area_info-->
        <div id="area_banner_a"><!-- area_banner_a-->

        </div><!-- //area_banner_a-->
        <div id="area_banner_b"><!-- area_banner_b-->

        </div><!-- //area_banner_b-->
        <div id="area_banner_c"><!-- area_banner_c-->

        </div><!-- //area_banner_c-->
        <div id="bg_scroll">
            <span class="line_src"></span>
            <span class="scroll_bar" ></span><!-- 스크롤 높이 지정하기-->
        </div>
    </div><!-- //bg_right (오른쪽 메인영역 전체)-->
</div><!-- // 전체 프레임 끝 -->

