<%
    var event = model.getEvent();
    var enrollReservationInfo = model.getEnrollReservationInfo();
  %>
<div id="detail"> <!--  전체 프레임 시작 -->
    <div class="bg_iframe"><img src=<%= event.getImageUrl()%>></div><!-- bg_iframe -->
    <div class="area_event_option"></div><!-- 목표달성이벤트 옵션 영역 -->
    <div class="bg_info"></div>
    <div class="area_btn"></div>
</div><!-- // 전체 프레임 끝 -->